$base-font-size:17px;
$base-font-weight:700;
$base-padding:20px;
$base-margin:20px;
$white:white;
$black:black;
$base-color:#ab7442;
$base-color-hover:rgb(189, 144, 102);
$black-light:rgb(40, 40, 40);

$colors:(
"white":$white,
"black":$black,
)